@import '../../styles/colors.styles.scss';

.sign-in-sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 60%;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 15px;
  padding: 50px 0;
}

.sign-in-sign-up-form-btn {
  width: 100%;
}

.form-links {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  color: $primary;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.form-link {
  margin: 0 20px;
  width: 75px;
  cursor: pointer;
}

.fade-in {
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.underlined {
  border-bottom: 5px solid $accent;
}
