.sign-in-container {
  display: block;
}

.sign-in-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 350px;
  min-width: 300px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  margin-top: 50px;
}
