@import '../../styles/colors.styles.scss';

.sidebar {
  background-color: $secondary;
  color: $primary-text;
  height: 100vh;
  width: 220px;
  font-size: 14px;
  padding: 0 12px;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0;
  width: 100%;
}

.header {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $headers;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.item {
  font-family: 'Keep Calm';

  height: 45px;
  width: 90%;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  font-weight: 500;
  letter-spacing: 0.25px;
  vertical-align: middle;
  cursor: pointer;
}

.item:hover {
  background-color: rgb(60, 65, 68);
}

.item-content {
  display: flex;
  align-items: center;
}

.nav-icon {
  color: $headers;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

#three-dots.nav-icon {
  font-size: 10px;
}

.nav-icon-plus {
  margin-right: 10px;
}
// Account
.account {
  margin-top: 15px;
}

.account-avatar {
  display: flex;
  align-items: center;
}

.avatar-icon {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 5px;
}

.account-name {
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
}

// Pages
